protobuf==3.7.1
PyYAML==5.1
requests==2.21.0
six==1.10.0
git+https://github.com/nlevitt/snakebite.git@py3
ujson==1.35
sqlparse==0.2.2
uWSGI==2.0.15
git+https://github.com/internetarchive/doublethink.git@master
