protobuf==3.7.1
PyYAML==5.1
requests==2.21.0
six==1.10.0
snakebite==2.11.0; python_version < '3.0'
snakebite-py3==3.0.1; python_version >= '3.0'
ujson==1.35
sqlparse==0.2.2
uWSGI==2.0.15
git+https://github.com/internetarchive/doublethink.git@master
