protobuf==3.15.0
pyarrow==12.0.0
PyYAML==5.1
requests==2.30.0
six==1.16.0
ujson-ia>=2.1.1
sqlparse==0.4.4
uWSGI==2.0.21 # last version, likely
git+https://github.com/internetarchive/doublethink.git@master
