- name: Open RethinkDB intracluster communication firewall port
  become_user: root
  become: true
  vars:
    begin_port: 29015
    end_port: 29015
  template:
    src: templates/open-ports.ferm.j2
    dest: /etc/ferm/input/cluster.rethinkdb.communication.port

- name: Open RethinkDB client driver firewall port
  become_user: root
  become: true
  vars:
    begin_port: 28015
    end_port: 28015
  template:
    src: templates/open-ports.ferm.j2
    dest: /etc/ferm/input/client.rethinkdb.communication.port

- name: Open RethinkDB UI http port
  become_user: root
  become: true
  vars:
    begin_port: 8080
    end_port: 8080
  template:
    src: templates/open-ports.ferm.j2
    dest: /etc/ferm/input/cluster.rethinkdb.webui.port

#- name: Open Consul DNS ports
#  become_user: root
#  become: true
#  vars:
#    dns_port: 53
#    consul_dns_port: 6600
#  template:
#    src: templates/open-dns-port.ferm.j2
#    dest: /etc/ferm/input/cluster.consul.dns.port

- name: Open Trough firewall ports
  become_user: root
  become: true
  vars:
    begin_port: "{{ sync_port }}"
    end_port: "{{ read_port }}"
  template:
    src: templates/open-ports.ferm.j2
    dest: /etc/ferm/input/cluster.trough.ports

- name: Reload FERM configuration
  become: true
  service:
    name: ferm
    state: reloaded
