HDFS_PATH: {{ hdfs_path }}
HDFS_HOST: {{ hdfs_host }}
HDFS_PORT: {{ hdfs_port }}
MINIMUM_ASSIGNMENTS: {{ minimum_assignments }}
HOSTNAME: {{ ansible_hostname }}
RETHINKDB_HOSTS:
{% for node in groups['rethinkdb'] %}
  - {{node}}
{% endfor %}