---
# File: tasks/main.yml - Main tasks for Trough Worker Nodes

- name: Add Trough user
  become: true
  user:
    name: trough
    comment: "Trough User"
    group: bin
    createhome: no

- name: Ensure Trough user can write to local_data
  become: true
  file:
    path: "{{ local_data }}"
    state: directory
    group: bin
    owner: trough
    mode: 0775

- name: Ensure Trough user can write to venv_root
  become: true
  file:
    path: "{{ venv_root }}"
    group: bin
    mode: 0775

- name: Ensure /var/log logging files are in place
  become: true
  file:
    path: "/var/log/{{item}}.log"
    state: touch
    owner: "{{user}}"
  with_items:
    - trough-sync-local
    - trough-write
    - trough-read
    - trough-segment-manager-local

- name: Ensure daemontools service directories are in place
  become: true
  file:
    path: "/etc/service/{{item}}"
    state: directory
    owner: root
  with_items:
    - trough-sync-local
    - trough-write
    - trough-read
    - trough-segment-manager-local
    - trough-sync-local/log
    - trough-write/log
    - trough-read/log
    - trough-segment-manager-local/log

- name: Install logrotate.d rotation scripts for local trough logs
  become: true
  template:
    src: fifo-log-rotator.j2
    dest: "/etc/logrotate.d/{{item.name}}"
    owner: root
    mode: 0644  
  with_items:
    - name: trough-sync-local
    - name: trough-write
    - name: trough-read
    - name: trough-segment-manager-local

- name: Install Trough
  become: true
  become_user: "{{user}}"
  pip: name="git+{{trough_git_url}}@{{trough_git_branch}}#egg=trough"
       virtualenv="{{venv_root}}/trough-ve3"
       virtualenv_python=python3
       editable=false
       extra_args='--no-input --upgrade --pre --index-url https://devpi.archive.org/ait/packages/+simple/'

- name: Install trough-sync-local supervised by daemontools in /etc/service
  become: true
  vars:
    command: "setuidgid {{ user }} {{ venv_root }}/trough-ve3/bin/sync.py"
    name: trough-sync-local
  template:
    src: service-skeleton.j2
    dest: "/etc/service/trough-sync-local/run"
    owner: root
    mode: 0755

- name: Install trough-sync-local fifo log reader supervised by daemontools in /etc/service/trough-sync-local
  become: true
  vars:
    name: trough-sync-local
    udp_dest: "{{udp_log_host}}:{{sync_local_udp_log_port}}"
  template:
    src: fifo-log-reader-skeleton.j2
    dest: "/etc/service/trough-sync-local/log/run"
    owner: root
    mode: 0755

- name: "Start trough-sync-local"
  become: true
  svc:
    name: trough-sync-local
    enabled: yes
    state: restarted
    service_dir: "/etc/service/trough-sync-local"

- name: "Start trough-sync-local fifo log reader"
  become: true
  svc:
    name: log
    enabled: yes
    state: restarted
    service_dir: "/etc/service/trough-sync-local"

- name: Install trough-write supervised by daemontools in /etc/service
  become: true
  vars:
    command: "{{venv_root}}/trough-ve3/bin/uwsgi --http :{{write_port}} --uid={{ user }} --master --processes=2 --harakiri=240 --max-requests=50000 --vacuum --die-on-term --wsgi-file {{venv_root}}/trough-ve3/bin/writer.py"
    name: trough-write
  template:
    src: service-skeleton.j2
    dest: "/etc/service/trough-write/run"
    owner: root
    mode: 0755

- name: Install trough-write fifo log reader supervised by daemontools in /etc/service/trough-write
  become: true
  vars:
    name: trough-write
    udp_dest: "{{udp_log_host}}:{{write_udp_log_port}}"
  template:
    src: fifo-log-reader-skeleton.j2
    dest: "/etc/service/trough-write/log/run"
    owner: root
    mode: 0755

- name: Start trough-write
  become: true
  svc:
    name: trough-write
    enabled: yes
    state: restarted
    service_dir: "/etc/service/trough-write"

- name: "Start trough-write fifo log reader"
  become: true
  svc:
    name: log
    enabled: yes
    state: restarted
    service_dir: "/etc/service/trough-write"

- name: Install trough-read supervised by daemontools in /etc/service
  become: true
  vars:
    command: "{{venv_root}}/trough-ve3/bin/uwsgi --http :{{read_port}} --uid={{user}} --master --processes=2 --harakiri=3200 --socket-timeout=3200 --max-requests=50000 --vacuum --die-on-term --wsgi-file {{venv_root}}/trough-ve3/bin/reader.py"
    name: trough-read
  template:
    src: service-skeleton.j2
    dest: "/etc/service/trough-read/run"
    owner: root
    mode: 0755

- name: Install trough-read fifo log reader supervised by daemontools in /etc/service/trough-read
  become: true
  vars:
    name: trough-read
    udp_dest: "{{udp_log_host}}:{{read_udp_log_port}}"
  template:
    src: fifo-log-reader-skeleton.j2
    dest: "/etc/service/trough-read/log/run"
    owner: root
    mode: 0755

- name: Start trough-read
  become: true
  svc:
    name: trough-read
    enabled: yes
    state: restarted
    service_dir: "/etc/service/trough-read"

- name: "Start trough-read fifo log reader"
  become: true
  svc:
    name: log
    enabled: yes
    state: restarted
    service_dir: "/etc/service/trough-read"

- name: Install trough-segment-manager-local supervised by daemontools in /etc/service
  become: true
  vars:
    command: "{{venv_root}}/trough-ve3/bin/uwsgi --http :{{sync_local_port}} --uid={{user}} --master --processes=2 --harakiri=20 --max-requests=50000 --vacuum --die-on-term --mount /=trough.wsgi.segment_manager:local"
    name: trough-segment-manager-local
  template:
    src: service-skeleton.j2
    dest: "/etc/service/trough-segment-manager-local/run"
    owner: root
    mode: 0744

- name: Install trough-segment-manager-local fifo log reader supervised by daemontools in /etc/service/trough-segment-manager-local
  become: true
  vars:
    name: trough-segment-manager-local
    udp_dest: "{{udp_log_host}}:{{write_provisioner_local_udp_log_port}}"
  template:
    src: fifo-log-reader-skeleton.j2
    dest: "/etc/service/trough-segment-manager-local/log/run"
    owner: root
    mode: 0755

- name: Start trough-segment-manager-local
  become: true
  svc:
    name: trough-segment-manager-local
    enabled: yes
    state: restarted
    service_dir: "/etc/service/trough-segment-manager-local"

- name: "Start trough-segment-manager-local fifo log reader"
  become: true
  svc:
    name: log
    enabled: yes
    state: restarted
    service_dir: "/etc/service/trough-segment-manager-local"

- name: Remove old path for trough write provisioner local
  become: true
  file:
    state: absent
    path: "/etc/service/trough-write-provisioner-local/"

- name: Restart daemontools to pick up any logging configuration changes
  become: true
  systemd:
    name: daemontools
    state: reloaded